<!DOCTYPE html>
<html lang="en">

<head>
  <title>Week 4
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }

  </style>
</head>
<nav class="navbar navbar-inverse" style="background-color: black;">
  <div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>                        
    </button>
    
  </div>
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
      <li><a (click)="logout()" href="" routerLinkActive="active">Logout</a></li>
      <li><a routerLink="/account" routerLinkActive="active">Account</a></li>
      <li><a routerLink="/chat" routerLinkActive="active">Chat</a></li>
      
    </ul>
    
  </div>
</div>
</nav>



<div class="container">
  <h3 class="header">Edit</h3>
  <div id="formContent">
    <br>
    <br>



    <form>
      <h4 for="username">Username:</h4>
       
      <div class="wrap-input100 validate-input m-b-16">
          <input class="input100" type="text" [(ngModel)]="username" id="username" name="username" ngModel placeholder="Username" required>
          <span class="focus-input100"></span>
        </div>
        <br>
      <h4 for="email">Email:</h4>

      <div class="wrap-input100 validate-input m-b-16">
          <input class="input100" type="text" [(ngModel)]="email" id="email" name="email" placeholder="Email" required>
          <span class="focus-input100"></span>
        </div>
        <br>
      <!-- <label for="birthdate">Birthday</label>
      <input type="text" [(ngModel)]="birthdate" id="birthdate" name="birthdate" placeholder="Birth Date" required>
      <br> -->
      <h4 for="role">Role:</h4>
      
      <div class="wrap-input100 validate-input m-b-16">
          <!-- <input class="input100" type="text" [(ngModel)]="role" id="role" name="login" placeholder="Role" required> -->
          <select class="input100" id="role" name="login" [(ngModel)]="role">
              <option value="Group Admin">Group Admin</option>
              <option value="Super Admin" selected>Super Admin</option>
              <option value="Group Assis">Group Assis</option>
              
            </select>
          <span class="focus-input100"></span>
        </div>
        
        <br>
      <div class="container-login100-form-btn m-t-17">
          <input class="login100-form-btn" (click)="updateDetails()" type="submit" value="Save">
        </div>
      </form>



  </div>
</div>
